<form class="{{cssClass}}" autocomplete="off">
  <header>
    <img
      src="{{actor.img}}"
      title="{{actor.name}}"
      alt="actor picture"
      class="actor-image"
      data-edit="img"
    />
    <section class="summary">
      <div class="row">
        <h1 class="charname">
          <input
            type="text"
            name="name"
            value="{{actor.name}}"
            placeholder="Merchant Name"
          />
        </h1>
      </div>

      {{!-- Header Attributes --}}
      {{!-- source: https://gitlab.com/foundrynet/dnd5e/-/blob/3fada7e4849ebd1c3ea6420b00cf3504b13055e1/templates/actors/npc-sheet.html --}}
      <ul class="attributes flexrow">
         <li class="attribute health">
              <h4 class="attribute-name box-title rollable">{{ localize "DND5E.HitPoints" }}</h4>
              <div class="attribute-value multiple">
                  <input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}" placeholder="10" data-dtype="Number"/>
                  <span class="sep"> / </span>
                  <input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}" placeholder="10" data-dtype="Number"/>
              </div>
              <footer class="attribute-footer">
                  <input name="data.attributes.hp.formula" class="hpformula" type="text" placeholder="{{ localize 'DND5E.HPFormula' }}"
                         value="{{data.attributes.hp.formula}}"/>
              </footer>
          </li>

          <li class="attribute">
              <h4 class="attribute-name box-title">{{ localize "DND5E.ArmorClass" }}</h4>
              <div class="attribute-value">
                  <input name="data.attributes.ac.value" type="number" value="{{data.attributes.ac.value}}" placeholder="10"/>
              </div>
              <footer class="attribute-footer">
                  <span>{{ localize "DND5E.Proficiency" }}</span>
                  <span>{{numberFormat data.attributes.prof decimals=0 sign=true}}</span>
              </footer>
          </li>

          <li class="attribute movement">
              <h4 class="attribute-name box-title">
                  {{ localize "DND5E.Movement" }}
                  <a class="config-button" data-action="movement" title="{{localize 'DND5E.MovementConfig'}}"><i class="fas fa-cog"></i></a>
              </h4>
              <div class="attribute-value">
                  <span>{{movement.primary}}</span>
              </div>
              <footer class="attribute-footer">
                  <span>{{movement.special}}</span>
              </footer>
          </li>
      </ul>
      {{!-- end source --}}




    </section>
  </header>
  <section class="body"></section>
</form>
